@media (max-width: 1650px) {
  .visual .svg-ani {
    top: 17%;
    right: -2%;
  }
  .visual .sub-text {
    margin-left: 10%;
  }
  .con03.motion .btn-wrap {
    right: 10%;
  }
}
@media (max-width: 1300px) {
  .visual .main-text {
    font-size: 11vw;
    width: 100%;
  }
  .visual .svg-ani {
    top: 39%;
    width: 56%;
  }
  .visual .sub-text {
    bottom: 8%;
    margin-left: 0%;
    position: absolute;
    width: 100%;
    padding: 0px 60px;
    left: 0;
  }
  footer .text-wrap .title {
    font-size: 144px;
  }
}