@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300..700&family=Noto+Sans+KR:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  list-style: none;
}

address,
em,
i {
  font-style: normal;
}

button {
  background: none;
  border: none;
}

img {
  vertical-align: middle;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 60px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  transition: 0.35s;
}
header.active {
  transform: translateY(-100%);
}
header .logo {
  display: flex;
  color: #fff;
  font-family: "Public Sans";
}
header .logo em {
  font-family: "Cormorant";
  margin-right: 5px;
}
header nav {
  font-family: "Public Sans";
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin-left: 30px;
}
header nav ul li a {
  display: block;
  text-transform: uppercase;
}
header nav ul li a .char {
  display: inline-block;
  position: relative;
  color: transparent;
  overflow: hidden;
}
header nav ul li a .char::before, header nav ul li a .char::after {
  content: attr(data-char);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  color: #fff;
  transition: transform 0.35s;
  transition-delay: calc(30ms * var(--char-index));
}
header nav ul li a .char::before {
  transform: translateY(100%);
}
header nav ul li a:hover .char::before {
  transform: translateY(0%);
  opacity: 1;
}
header nav ul li a:hover .char::after {
  transform: translateY(-100%);
}
header .menu-open {
  display: none;
}

body {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  height: 500vh;
}

.wrap {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.visual {
  width: 100%;
  height: 100vh;
  padding-top: 125px;
  position: relative;
  letter-spacing: -1px;
}
.visual.motion .main-text {
  transform: translate3d(0, 0, 0) skewY(0deg);
  overflow: hidden;
  font-size: 140px;
  font-weight: 400;
  line-height: 1.2;
  font-family: "Public Sans";
  text-transform: capitalize;
  margin: 0 0 150px 60px;
  display: inline-block;
}
.visual.motion .main-text p {
  overflow: hidden;
}
.visual.motion .main-text p span {
  display: block;
  animation-name: textAni;
  animation-duration: 1.8s;
}
.visual.motion .main-text p:nth-of-type(2) span {
  font-family: "Cormorant";
  animation-duration: 1.7s;
}
.visual.motion .main-text p:nth-of-type(3) span {
  animation-duration: 1.5s;
}
.visual.motion .sub-text {
  margin-left: 20%;
  animation-name: textAni2;
  animation-duration: 2.3s;
}
.visual.motion #svgAni01 {
  stroke-dasharray: 675;
  stroke-dashoffset: 675;
  animation: ani1 0.5s linear 2s forwards;
}
.visual.motion #svgAni03 {
  stroke-dasharray: 3059;
  stroke-dashoffset: 3059;
  animation: ani3 2s linear 0.1s forwards;
}
.visual.motion #svgAni04 {
  stroke-dasharray: 66;
  stroke-dashoffset: 66;
  animation: ani4 0.2s linear 1s forwards;
}
.visual.motion #svgAni05 {
  stroke-dasharray: 55;
  stroke-dashoffset: 55;
  animation: ani5 0.2s linear 0s forwards;
}
@keyframes textAni {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: translate3d(0, -90px, 0) skewY(-10deg);
    transform-origin: top left;
  }
}
@keyframes textAni2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
}
@keyframes ani1 {
  0% {
    stroke-dashoffset: 675;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes ani3 {
  0% {
    stroke-dashoffset: 3059;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes ani4 {
  0% {
    stroke-dashoffset: 66;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes ani5 {
  0% {
    stroke-dashoffset: 55;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.visual .svg-ani {
  position: absolute;
  top: 6%;
  right: 0%;
  width: 55%;
  transform: rotate(10deg);
}
.visual .scroll {
  position: fixed;
  left: 60px;
  bottom: 40px;
}

.con01 {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.con01 .video-wrap video {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  object-fit: cover;
}
.con01 .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.con01 .title h2 {
  font-size: 80px;
  font-family: "Public Sans";
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.2;
  color: #fff;
}
.con01 .title h2 span {
  font-family: "Cormorant";
}

.con02 .title {
  width: 100%;
  height: 100vh;
  font-size: 170px;
  line-height: 0.9;
  padding-top: 30vh;
  text-align: center;
}
.con02 .title p {
  text-transform: capitalize;
  color: #333;
  font-family: "Public Sans";
}
.con02 .title p:nth-child(2) {
  font-family: "Cormorant";
  font-size: 220px;
}
.con02 .work-list {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.con02 .work-list li {
  width: 45%;
  margin-top: 200px;
}
.con02 .work-list li:nth-child(2n) {
  margin-top: 0;
}
.con02 .work-list li a {
  display: block;
}
.con02 .work-list li a .img-box {
  position: relative;
  z-index: 1;
}
.con02 .work-list li a .img-box::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transform: translate(-50%, -50%) rotate(45deg);
  content: "";
  width: 168px;
  height: 168px;
  border-radius: 100%;
  border: 1px solid #fff;
  background: url("../images/readMore2.png") no-repeat center/35px;
  z-index: 3;
  transition: 0.4s;
  opacity: 0;
}
.con02 .work-list li a .img-box::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  content: "";
  border-radius: 100%;
  background: #fff url("../images/readMore3.png") no-repeat center/160px;
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: 0.4s;
  z-index: 2;
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.con02 .work-list li a .img-box img {
  transition: 0.35s;
  width: 100%;
}
.con02 .work-list li a .text-box h3 {
  font-size: 35px;
  font-weight: normal;
  padding: 20px 0 5px;
}
.con02 .work-list li a .text-box .info {
  display: flex;
  justify-content: space-between;
  color: #888;
}
.con02 .work-list li a:hover .img-box img {
  filter: brightness(0.7);
}
.con02 .work-list li a:hover .img-box::before {
  opacity: 1;
}
.con02 .work-list li a:hover .img-box::after {
  width: 168px;
  height: 168px;
}