// pc 1650px ~ 1301px
@media (max-width: 1650px) {
  .visual {
    .svg-ani {
      top: 17%;
      right: -2%;
    }

    .sub-text {
      margin-left: 10%;
    }
  }

  .con03 {
    &.motion {
      .btn-wrap {
        right: 10%;
      }
    }
  }
}

// pc 1300px ~ 1025px
@media (max-width: 1300px) {
  .visual {
    .main-text {
      font-size: 11vw;
      width: 100%;
    }

    .svg-ani {
      top: 39%;
      width: 56%;
    }

    .sub-text {
      bottom: 8%;
      margin-left: 0%;
      position: absolute;
      width: 100%;
      padding: 0px 60px;
      left: 0;
    }
  }

  footer {
    .text-wrap {
      .title {
        a {
          font-size: 110px;
        }
      }
    }
  }
}

// pc 1024px ~ 801px
@media (max-width: 1024px) {
  .visual {
    .svg-ani {
      top: 36%;
      width: 76%;
      right: -1%;
    }
  }

  .con01 {
    .title {
      h2 {
        font-size: 7vw;
      }
    }
  }

  .con02 {
    .title {
      font-size: 18vw;
    }

    .work-list {
      width: 90%;
    }
  }

  .con03 {
    .text-wrap {
      width: 85%;
      ul {
        li {
          font-size: 12vw;
        }
      }
    }
  }

  footer {
    .text-wrap {
      .title {
        font-size: 12vw;
        a {
          font-size: 9vw;
        }
      }
    }

    .bottom {
      font-size: 20px;
    }
  }
}
