@import 'base/reset';
@import 'base/typography';
@import 'base/var';
@import 'base/mixin';
@import 'layout/header';
body {
  @include default;
  height: 500vh;
}
// 레이아웃
.wrap {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background-color: map-get($colors, background);
  color: map-get($colors, white);
}
.visual {
  width: 100%;
  height: 100vh;
  padding-top: 125px;
  position: relative;
  letter-spacing: -1px;

  &.motion {
    .main-text {
      transform: translate3d(0, 0, 0) skewY(0deg);
      overflow: hidden;
      font-size: 140px;
      font-weight: 400;
      line-height: 1.2;
      font-family: map-get($font-family, eng);
      text-transform: capitalize;
      margin: 0 0 150px 60px;
      display: inline-block;
      p {
        overflow: hidden;
        span {
          display: block;
          animation-name: textAni;
          animation-duration: 1.8s;
        }

        &:nth-of-type(2) span {
          font-family: map-get($font-family, eng2);
          animation-duration: 1.7s;
        }

        &:nth-of-type(3) span {
          animation-duration: 1.5s;
        }
      }
    }

    .sub-text {
      margin-left: 20%;
      animation-name: textAni2;
      animation-duration: 2.3s;
    }

    #svgAni01 {
      stroke-dasharray: 675;
      stroke-dashoffset: 675;
      animation: ani1 0.5s linear 2s forwards;
    }

    #svgAni03 {
      stroke-dasharray: 3059;
      stroke-dashoffset: 3059;
      animation: ani3 2s linear 0.1s forwards;
    }

    #svgAni04 {
      stroke-dasharray: 66;
      stroke-dashoffset: 66;
      animation: ani4 0.2s linear 1s forwards;
    }

    #svgAni05 {
      stroke-dasharray: 55;
      stroke-dashoffset: 55;
      animation: ani5 0.2s linear 0s forwards;
    }
  }

  @keyframes textAni {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
      transform: translate3d(0, -90px, 0) skewY(-10deg);
      transform-origin: top left;
    }
  }

  @keyframes textAni2 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
  }

  @keyframes ani1 {
    0% {
      stroke-dashoffset: 675;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes ani3 {
    0% {
      stroke-dashoffset: 3059;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes ani4 {
    0% {
      stroke-dashoffset: 66;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes ani5 {
    0% {
      stroke-dashoffset: 55;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  .svg-ani {
    position: absolute;
    top: 6%;
    right: 0%;
    width: 55%;
    transform: rotate(10deg);
  }

  .scroll {
    position: fixed;
    left: 60px;
    bottom: 40px;
  }
}
.con01 {
  @include fullSection;

  .video-wrap video {
    @include fullSection;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .title {
    @include center;

    h2 {
      font-size: 80px;
      font-family: map-get($font-family, eng);
      font-weight: 400;
      letter-spacing: -1px;
      line-height: 1.2;
      color: map-get($colors, white);
      span {
        font-family: map-get($font-family, eng2);
      }
    }
  }
}
.con02 {
  .title {
    width: 100%;
    height: 100vh;
    font-size: 170px;
    line-height: 0.9;
    padding-top: 30vh;
    text-align: center;
    p {
      text-transform: capitalize;
      color: map-get($colors, black);
      font-family: map-get($font-family, eng);
      &:nth-child(2) {
        font-family: map-get($font-family, eng2);
        font-size: 220px;
      }
    }
  }

  .work-list {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      width: 45%;
      margin-top: 200px;

      &:nth-child(2n) {
        margin-top: 0;
      }

      a {
        display: block;

        .img-box {
          img {
            width: 100%;
          }
        }

        .text-box {
          h3 {
            font-size: 35px;
            font-weight: normal;
            padding: 20px 0 5px;
          }
          .info {
            display: flex;
            justify-content: space-between;
            color: map-get($colors, gray);
          }
        }
      }
    }
  }
}
