@import 'base/reset';
@import 'base/typography';
@import 'base/var';
@import 'base/mixin';
@import 'layout/header';
@import 'layout/footer';
* {
  box-sizing: border-box;
}

body {
  @include default;
  height: 500vh;
}
// 레이아웃
.wrap {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background-color: map-get($colors, background);
  color: map-get($colors, white);
}
.visual {
  width: 100%;
  height: 100vh;
  padding-top: 125px;
  position: relative;
  letter-spacing: -1px;

  .main-text {
    font-size: 140px;
    font-weight: 400;
    line-height: 1.2;
    font-family: map-get($font-family, eng);
    text-transform: capitalize;
    margin: 0 0 150px 60px;
    display: inline-block;
  }

  .svg-ani {
    position: absolute;
    top: 6%;
    right: -2%;
    width: 55%;
    transform: rotate(-10deg);
  }

  .sub-text {
    margin-left: 20%;
  }

  .scroll {
    position: fixed;
    left: 60px;
    bottom: 40px;
  }

  &.motion {
    .main-text {
      transform: translate3d(0, 0, 0) skewY(0deg);
      overflow: hidden;
      p {
        overflow: hidden;
        span {
          display: block;
          animation-name: textAni;
          animation-duration: 1.8s;
        }

        &:nth-of-type(2) span {
          font-family: map-get($font-family, eng2);
          animation-duration: 1.7s;
        }

        &:nth-of-type(3) span {
          animation-duration: 1.5s;
        }
      }
    }

    .sub-text {
      animation-name: textAni2;
      animation-duration: 2.3s;
    }

    #svgAni01 {
      stroke-dasharray: 675;
      stroke-dashoffset: 675;
      animation: ani1 0.5s linear 2s forwards;
    }

    #svgAni03 {
      stroke-dasharray: 3059;
      stroke-dashoffset: 3059;
      animation: ani3 2s linear 0.1s forwards;
    }

    #svgAni04 {
      stroke-dasharray: 66;
      stroke-dashoffset: 66;
      animation: ani4 0.2s linear 1s forwards;
    }

    #svgAni05 {
      stroke-dasharray: 55;
      stroke-dashoffset: 55;
      animation: ani5 0.2s linear 0s forwards;
    }
  }

  @keyframes textAni {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
      transform: translate3d(0, -90px, 0) skewY(-10deg);
      transform-origin: top left;
    }
  }

  @keyframes textAni2 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
  }

  @keyframes ani1 {
    0% {
      stroke-dashoffset: 675;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes ani3 {
    0% {
      stroke-dashoffset: 3059;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes ani4 {
    0% {
      stroke-dashoffset: 66;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes ani5 {
    0% {
      stroke-dashoffset: 55;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
}
.con01 {
  @include fullSection;
  position: relative;

  .video-wrap video {
    @include fullSection;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .title {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    color: map-get($colors, white);

    h2 {
      font-size: 80px;
      font-family: map-get($font-family, eng);
      font-weight: 400;
      letter-spacing: -1px;
      line-height: 1.2;
      color: map-get($colors, white);
      span {
        font-family: map-get($font-family, eng2);
      }
    }
  }
}
.con02 {
  .title {
    width: 100%;
    height: 100vh;
    font-size: 170px;
    line-height: 0.9;
    padding-top: 30vh;
    text-align: center;

    p {
      text-transform: capitalize;
      font-family: map-get($font-family, eng);
      &:nth-child(2) {
        font-family: map-get($font-family, eng2);
        font-size: 220px;
      }
    }
  }

  .work-list {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      width: 45%;

      &:nth-child(2n) {
        margin-top: 0;
      }

      a {
        display: block;

        .img-box {
          position: relative;
          z-index: 1;

          &::before {
            @include center;
            transform: translate(-50%, -50%) rotate(45deg);
            content: '';
            width: 168px;
            height: 168px;
            border-radius: 50%;
            border: 1px solid #fff;
            background: url('../images/readMore2.png') no-repeat center / 35px;
            z-index: 3;
            transition: all 0.4s;
            opacity: 0;
          }

          &::after {
            @include center;
            content: '';
            border-radius: 50%;
            background: #fff url('../images/readMore3.png') no-repeat center /
              160px;
            animation-name: spin;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            transition: all 0.4s;
            z-index: 2;
          }

          @keyframes spin {
            0% {
              transform: translate(-50%, -50%) rotate(0deg);
            }
            100% {
              transform: translate(-50%, -50%) rotate(360deg);
            }
          }

          img {
            transition: all 0.35s;
            width: 100%;
          }
        }

        .text-box {
          h3 {
            font-size: 35px;
            font-weight: normal;
            padding: 20px 0 5px;
          }
          .info {
            display: flex;
            justify-content: space-between;
            color: map-get($colors, gray);
          }
        }

        &:hover {
          .img-box {
            img {
              filter: brightness(0.7);
            }

            &::before {
              opacity: 1;
            }
            &::after {
              width: 168px;
              height: 168px;
            }
          }
        }
      }
    }
  }
}

// con03
.con03 {
  @include fullSection;
  position: relative;
  margin-top: 200px;

  .text-wrap {
    @include center;
    text-align: left;
    width: 70%;
    z-index: 1;

    .title {
      z-index: 2;
      text-transform: capitalize;
      font-size: 18px;

      p {
        font-family: map-get($font-family, eng);
        span {
          font-family: map-get($font-family, eng2);
        }
      }
    }

    ul {
      line-height: 1.1;

      li {
        text-transform: capitalize;
        font-size: 100px;
        &:nth-child(2n) {
          font-family: map-get($font-family, eng2);
          padding-left: 5px;
        }
      }
    }
  }

  .list-wrap {
    .simply-scroll .simply-scroll-clip {
      overflow: hidden;
      transform: translate(150%, 400px) rotate(5deg) scale(1.1);
      opacity: 0;

      .simply-scroll-list {
        li {
          filter: brightness(50%);
          float: left;
          width: 400px;

          img {
            width: 100%;
          }
        }
      }
    }

    .btn-wrap {
      position: absolute;
      top: 60%;
      right: -50%;
      z-index: 3;

      a {
        display: block;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        border: 2px solid #fff;
        position: relative;
        transition: all 0.35s;

        &::before {
          @include center;
          content: '';
          width: 0;
          height: 0;
          border-radius: 50%;
          background: #fff url('../images/readMore3.png') no-repeat center /
            158px;
          animation-name: spin;
          animation-duration: 10s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          transition: all 0.4s;
          z-index: 2;
        }

        img {
          @include center;
          width: 22%;
          transform: translate(-50%, -50%) rotate(45deg);

          &:nth-child(2) {
            opacity: 0;
          }
        }

        &:hover {
          border-color: transparent;

          img:nth-child(2) {
            opacity: 1;
            z-index: 2;
          }

          &::before {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  &.motion {
    .text-wrap ul li p {
      animation-name: textAni;
      animation-duration: 1.3s;
    }

    .simply-scroll .simply-scroll-clip {
      transform: translate(0%, 400px) rotate(5deg) scale(1.1);
      opacity: 1;
      transition: all 1.2s;
      transition-delay: 0.3;
    }

    .btn-wrap {
      right: 50%;
      transition: all 1.2s;
    }
  }
}
