// $themes: (
//   light: (
//     background: #fff,
//     text: #333,
//   ),
//   dark: (
//     background: #333,
//     text: #fff,
//   ),
// );
$colors: (
  black: #333,
  white: #fff,
  gray: #888,
  background: rgba(0, 0, 0),
  opacity-background: rgba(0, 0, 0, 0.5),
);
$font-family: (
  kor: 'Noto Sans Ko',
  eng: 'Public Sans',
  eng2: 'Cormorant',
);
